page-home {
  .hidden{
    opacity: 0;
  }
  .hideMe {
    -moz-animation: cssAnimation 0.75s ease-out;
    /* Firefox */
    -webkit-animation: cssAnimation 0.75s ease-out;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0.75s ease-out;
    /* Opera */
    animation: cssAnimation 0.75s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @keyframes cssAnimation {
    to {
      opacity:0;
    }
  }
  @-webkit-keyframes cssAnimation {
    to {
      opacity:0;
    }
  }
}
